# System settings.
$include /etc/inputrc
 
# Use vi-mode.
set editing-mode vi

# Set cursor shape by mode.
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

$if mode=vi
    # Set shortcuts for vi-cmd mode.
    set keymap vi-command
    Control-l: clear-screen
 
    # Set shortcuts for vi-ins mode.
    set keymap vi-insert
    Control-l: clear-screen
$endif
